<mat-drawer-container class="w-full m-0" dir="rtl">
  <mat-drawer
    #drawer
    class="drawer sm:w-28 w-24"
    [autoFocus]="false"
    [mode]="drawerMode"
    [opened]="drawerOpened"
    position="start"
  >
    <app-side-nav (onClose)="drawer.close()"></app-side-nav>
  </mat-drawer>

  <div class="h-screen">
    <main
      class="sm:p-2 md:p-5 p-1 h-auto bg-white flex justify-start items-stretch flex-col"
    >
      <span style="height: 500px; background-color: black; margin-top: 20px"
        >adsadsadsad</span
      >
      <span style="height: 500px; background-color: black; margin-top: 20px"
        >adsadsadsad</span
      >
      <span style="height: 500px; background-color: black; margin-top: 20px"
        >adsadsadsad</span
      >
      <span style="height: 500px; background-color: black; margin-top: 20px"
        >adsadsadsad</span
      >
      <span style="height: 500px; background-color: black; margin-top: 20px"
        >adsadsadsad</span
      >
      <span style="height: 500px; background-color: black; margin-top: 20px"
        >adsadsadsad</span
      >
      <span style="height: 500px; background-color: black; margin-top: 20px"
        >adsadsadsad</span
      >
      <span style="height: 500px; background-color: black; margin-top: 20px"
        >adsadsadsad</span
      >
      <span style="height: 500px; background-color: black; margin-top: 20px"
        >adsadsadsad</span
      >
      <span style="height: 500px; background-color: black; margin-top: 20px"
        >adsadsadsad</span
      >
      <span style="height: 1000px">&nbsp;</span>
    </main>
  </div>
</mat-drawer-container>
